@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Dark-2 */
.text-gray{
    color:#424242 ;
}

/* Dark-3 */
.text-light-gray{
    color: #727272;
}

/*shared styls */
.display-flex{
    display: flex;
}

.bg-light{
    background:rgba(225,144,14,0.1);
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width:1440px ;
    margin: 0 auto;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.banner-tittle{
   font-weight:700;
   font-size: 4rem;
}
.btn-primary{
    background: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size:1.25rem ;
    font-weight: 500;
    border: none;
    border-radius: 8px;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.banner-image{
    width: 100%;
}

/* teeam and feature style */

.teams{
     align-items: center;
}

.our-fetaure{
    margin-left: 130px;
    max-width: 530px;
}
.team-image-containre{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 24px;
}

.fetaure-tittle{
    font-size: 2.8rem;
}

#quick-list{
    font-weight: 500;
}
/* responsive for mobile */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}