@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Dark-2 */
.text-gray{
    color:#424242 ;
}

.text-primary{
    color: #ff900e;
}

/* Dark-3 */
.text-light-gray{
    color: #727272;
}

/*shared styls */
.display-flex{
    display: flex;
}

.bg-light{
    background:rgba(225,144,14,0.1);
}

.secation-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}


.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width:1440px ;
    margin: 0 auto;
}

.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-tittle{
   font-weight:700;
   font-size: 4rem;
}

.btn-primary{
    background: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size:1.25rem ;
    font-weight: 500;
    border: none;
    border-radius: 8px;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.banner-image{
    width: 100%;
}

/* teeam and feature style */
.teams{
     align-items: center;
}

.our-fetaure{
    margin-left: 130px;
    max-width: 530px;
}

#quic-list{
    font-weight: 500;
}

.team-image-containre{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 24px;
}


#quick-list{
    font-weight: 500;
}


/* some facts related styls */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #ff900e;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.facts-descpation{
    max-width: 540px;
}

/* sponsore style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsore-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsore-companys img{
    filter: grayscale(100%);
}


/* feature secation style */
#feacher-sec-tittle{
   border-left:5px solid #ff900e; 
   padding-left: 20px;
}

.feature-card .feature-tittle{
    font-weight: 600px;
    font-size: 1.25rem;
    margin: 0;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feacher{
    gap: 140px;
}

.fitcherd-architect img{
    width: 100%;
}

#experince-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -80px;
    margin-left: -80px;
}

#experince-year{
    font-size: 4rem;
    font-weight: 700;
}

footer{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:rgba(225,144,14,0.1);
    border-radius: 8px;
}

/* responsive for smalldevice */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-image-containre,
    .fact-container,
    .sponsore-companys{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container,
     .sponsore-companys{
        justify-items: center;
        gap: 24px;
    }
    .our-fetaure{
        margin-left: 20px;
    }
    #experince-badge{
       margin: 0 auto;
    }
    .feacher{
        flex-direction: column;
    }


}

/* responsive for midiumdevice */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction:column;
    }
    .sponsore-companys,  .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        justify-items: center;
        gap: 50pxpx;
    }
    .our-fetaure{
        margin: 50px auto;
    }
    .feacher{
        flex-direction: column;
    }
    #experince-badge{
      margin-left: 260px;
      margin-top: 20px;
    }

}